
services:
  backend:
    build:
      context: ./niceapi
      dockerfile: Dockerfile
    container_name: django_backend
    command: gunicorn niceapi.wsgi:application --bind 0.0.0.0:8001
    ports:
      - "8001:8001"
    env_file:
      - ./niceapi/.env.development
    networks:
      - app_network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env.development
    depends_on:
      - backend
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
